*.iml
/app/.gradle
/app/local.properties
/app/.idea/caches
/app/.idea/libraries
/app/.idea/modules.xml
/app/.idea/workspace.xml
/app/.idea/navEditor.xml
/app/.idea/assetWizardSettings.xml
/app.DS_Store
/app/build
/app/captures
/app/.externalNativeBuild
/app/.cxx
/app/local.properties

# Python File
*/__pycache__
/backend/user/__pycache__
/backend/user/remind/__pycache__
/backend/blog/__pycache__
/backend/app/__pycache__
/backend/db.sqlite3
*/__init__.py
*/migrations
/backend/user/migrations
/backend/blog/migrations

# media
backend/image
